* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 50px; /* Espacio para el header */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.bloque {
    margin: 20px 0;
}

.bloque h3 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.bloque div {
    margin-bottom: 15px;
}

.bloque h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.bloque p {
    font-size: 14px;
    margin: 5px 0;
}

main {
    width: 90%;
    margin: 20px auto;
}

.categorias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categoria {
    width: 22%;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
}

.anuncio-destacado {
    font-weight: bold;
    margin-right: 10px;
}

strong {
    font-weight: bold;
}
